.DS_Store
*__pycache__*
*.pyc

.vscode
.idea
.run

venv

log/*
app/static/documents/*
app/data/*
process/field_data

*.out*

*.csv

process/google-api.json
process/trans_conf.json
process/in.txt
process/out.txt

process/keywords/*.txt