<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <link rel="icon" href="{{ url_for('static', filename='images/istic.png') }}" type="image/gif"/>
  <title>颠覆性技术政策数据库</title>
</head>
<body>
<!-- 顶部导航栏 -->
<header>
  {% import "_macros.html" as macros with context %}
  {{ macros.header("management.html") }}
</header>
<!-- 页面主体部分 -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="row">
        <!-- 左侧目录 -->
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <ul class="nav nav-pills nav-stack">
            <li class="active">
              <a href="#collect" data-toggle="pill">数据采集</a>
            </li>
            <li>
              <a href="#proofread" data-toggle="pill">内容审校</a>
            </li>
            <li>
              <a href="#users" data-toggle="pill">用户权限管理</a>
            </li>
          </ul>
        </div>
        <!-- 右侧内容 -->
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 tab-content">
          <!-- 数据采集 -->
          <div class="tab-pane active" id="collect">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>数据采集</h4>
                <div class="btns">
                  <button class="btn btn-primary">采集</button>
                  <button class="btn btn-danger">删除</button>
                  <div class="pull-right">
                    <div class="btn-toolbar" role="toolbar" aria-label="...">
                      <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">首页</button>
                        <button type="button" class="btn btn-default">上一页</button>
                      </div>
                      <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary">1</button>
                        <button type="button" class="btn btn-default">2</button>
                        <button type="button" class="btn btn-default">...</button>
                      </div>
                      <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">下一页</button>
                        <button type="button" class="btn btn-default">末页</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                <div class="panel-body">
                <table class="table table-hover">
                  <tr>
                    <th width="5%"><input type="checkbox" id="website_all_check"/></th>
                    <th width="25%">网站名称</th>
                    <th width="30%">url</th>
                    <th width="23%">上次采集时间</th>
                    <th width="17%">查看新下载文档</th>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="website"/></td>
                    <td>英国政府网</td>
                    <td>https://www.gov.uk</td>
                    <td></td>
                    <td class="text-center">
                      <a class="detail-link" data-toggle="collapse" href="#website1">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                      </a>
                    </td>
                  </tr>
                  <tr id="website1" class="collapse">
                    <td colspan="10">
                      <div><a href="article.html?id=1">Laptops, tablets and 4G wireless routers progress data as of 12 January 2021</a></div>
                      <div><a href="article.html?id=2">NHS Test and Trace: privacy information</a></div>
                      <div><a href="article.html?id=3">Coronavirus (COVID-19) contingency framework for education and childcare settings</a></div>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="website"/></td>
                    <td>欧盟出版物</td>
                    <td>https://op.europa.eu</td>
                    <td></td>
                    <td class="text-center">
                      <a class="detail-link" data-toggle="collapse" href="#website2">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                      </a>
                    </td>
                  </tr>
                  <tr id="website2" class="collapse">
                    <td colspan="10">
                      新下载文档信息
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <!-- 内容审校 -->
          <div class="tab-pane" id="proofread">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>颠覆性技术政策列表</h4>
                <form class="form-inline">
                  <div class="form-group">
                    <select name="query-type" class="form-control">
                      <option value="">标题</option>
                      <option value="">摘要</option>
                      <option value="">关键词</option>
                    </select>
                  </div>
                  <div class="form-group input-group col-lg-4">
                    <label class="sr-only" for="exampleInputEmail3">搜索</label>
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="搜索">
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-search" type="submit"
                                style="background-color: #f26522; border-color:#f26522 ">
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                  </div>
                  <div class="form-group">
                    <select name="country" class="form-control">
                      <option value="">全部国家</option>
                      <option value="">中国</option>
                      <option value="">美国</option>
                      <option value="">英国</option>
                      <option value="">德国</option>
                      <option value="">意大利</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <select name="field" class="form-control">
                      <option value="">全部领域</option>
                      <option value="">工业</option>
                      <option value="">农业</option>
                      <option value="">经济</option>
                      <option value="">健康</option>
                    </select>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> 仅未审校
                    </label>
                  </div>
                  <button type="submit" class="btn btn-primary pull-right">筛选</button>
                </form>
                <div class="btns">
                  <div class="btn-group">
                    <button class="btn btn-primary">前台展示</button>
                    <button class="btn btn-danger">取消展示</button>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-success">标为精选</button>
                    <button class="btn btn-danger">取消精选</button>
                  </div>
                  <div class="pull-right">
                    <div class="btn-toolbar" role="toolbar" aria-label="...">
                      <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">首页</button>
                        <button type="button" class="btn btn-default">上一页</button>
                      </div>
                      <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary">1</button>
                        <button type="button" class="btn btn-default">2</button>
                        <button type="button" class="btn btn-default">...</button>
                      </div>
                      <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">下一页</button>
                        <button type="button" class="btn btn-default">末页</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-hover">
                  <tr>
                    <th width="5%"><input type="checkbox" id="policy_all_check"/></th>
                    <th width="7%">编号</th>
                    <th width="58%">标题</th>
                    <th width="20%">上次修改时间</th>
                    <th width="10%">状态</th>
                  </tr>
                  {% for policy_text in policy_text_list %}
                    <tr {% if not policy_text.checked_file %}class="warning"{% endif %}>
                      <td><input type="checkbox" name="policy"/></td>
                      <td>{{ policy_text.id }}</td>
                      <td>{{ policy_text.original_title }}</td>
                      <td></td>
                      <td>
                        {% if not policy_text.checked_file %}
                          <a class="detail-link" data-toggle="collapse" href="#article-{{ policy_text.id }}">未审校</a>
                        {% else %}
                          展示
                        {% endif %}
                      </td>
                    </tr>
                    {% if not policy_text.checked_file %}
                      <tr id="article-{{ policy_text.id }}" class="collapse">
                        <td colspan="10">
                          <p><a href="">下载原版</a></p>
                          <p><a href="">下载翻译版</a></p>
                          <p><a href="">上传审校版</a></p>
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
          <!-- 用户管理 -->
          <div class="tab-pane" id="users">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>用户权限管理</h4>
              </div>
              <div class="panel-body">
                <table class="table table-hover">
                  <tr>
                    <th width="12%">用户名</th>
                    <th width="13%">数据采集</th>
                    <th width="13%">审校</th>
                    <th width="13%">前台展示</th>
                    <th width="13%">精选</th>
                    <th width="13%">修改用户权限</th>
                    <th width="20%">操作</th>
                  </tr>
                  <tr>
                    <td>金笑缘</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><a href="">确认修改</a>&nbsp;|&nbsp;<a href="">删除</a></td>
                  </tr>
                  <tr>
                    <td>陈科锜</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><a href="">确认修改</a>&nbsp;|&nbsp;<a href="">删除</a></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 页脚 -->
{% import "_macros.html" as macros %}
{{ macros.footer() }}
</body>
</html>