<!--<%@ page language="java" contentType="text/html; charset=utf-8"
   pageEncoding="utf-8"%>
<%@ taglib prefix="s" uri="/struts-tags"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
"http://www.w3.org/TR/html4/loose.dtd">-->
<html>

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Homepage of our system</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <!-- fevicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <!-- select -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
    <!-- owl stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesoeet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}" media="screen">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <style type="text/css">
    .nav-tabs li {
        width: 90px;
        height: 35px;
        text-align: center;
        padding-top: 5px;
    }

    .nav-tabs .active {
        border: 1px #dfdfdf solid;
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="header_section_top">
            <div class="row">
                <div class="col-sm-12">
                    <div class="custom_menu">
                        <ul>
                            <li><a href="index.html">首页</a></li>
                            <li><a href="search_result.html">检索</a></li>
                            <li><a href="browse_by_category.html">分类浏览</a></li>
                            <li><a href="parse.html">采集</a></li>
                            <li><a href="statistics_analysis.html">统计分析</a></li>
                            <li><a href="proofreading.html">审校</a></li>
                        </ul>
                        <div class="user">
                            <img src="{{ url_for('static', filename='images/not_login.png') }}" alt="">
                            <div class="user-name"><a href="login.html">未登录</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column" style="margin-top: 30px;">
                <div class="row clearfix" style="margin-bottom: 50px;">
                    <div class="col-md-3 column">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">统计维度</a>
                            <div id="country-button" class="list-group-item" style="background: #eeeeee;">
                                <a href="#" onclick="show_country()">国别</a>
                            </div>
                            <div id="year-button" class="list-group-item">
                                <a href="#" onclick="show_year()">发布时间</a>
                            </div>
                            <div id="institution-button" class="list-group-item">
                                <a href="#" onclick="show()">发布机构</a>
                            </div>
                            <div id="field-button" class="list-group-item">
                                <a href="#" onclick="show()">领域</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 column">
                            <div class="tab-content">
                                <div class="show_part" id="country_show">
                                <div id="country_bar" class="chart-container" style="width:800px; height:500px;"></div>
                                <script>
                                    var chart_country_bar = echarts.init(
                                        document.getElementById('country_bar'), 'white', {renderer: 'canvas'});
                                    var option_country_bar = {
                                "animation": true,
                                "animationThreshold": 2000,
                                "animationDuration": 1000,
                                "animationEasing": "cubicOut",
                                "animationDelay": 0,
                                "animationDurationUpdate": 300,
                                "animationEasingUpdate": "cubicOut",
                                "animationDelayUpdate": 0,
                                "color": [
                                    "#c23531",
                                    "#2f4554",
                                    "#61a0a8",
                                    "#d48265",
                                    "#749f83",
                                ],
                                "series": [
                                    {
                                        "type": "bar",
                                        "name": "\u6536\u5f55\u6570\u91cf",
                                        "legendHoverLink": true,
                                        "data": [
                                            2920,
                                            1300,
                                            760,
                                            690,
                                            600,
                                            550
                                        ],
                                        "showBackground": false,
                                        "barMinHeight": 0,
                                        "barCategoryGap": "20%",
                                        "barGap": "30%",
                                        "large": false,
                                        "largeThreshold": 400,
                                        "seriesLayoutBy": "column",
                                        "datasetIndex": 0,
                                        "clip": true,
                                        "zlevel": 0,
                                        "z": 2,
                                        "label": {
                                            "show": true,
                                            "position": "top",
                                            "margin": 8
                                        }
                                    }
                                ],
                                "legend": [
                                    {
                                        "data": [
                                            "\u6536\u5f55\u6570\u91cf"
                                        ],
                                        "selected": {
                                            "\u6536\u5f55\u6570\u91cf": true
                                        }
                                    }
                                ],
                                "tooltip": {
                                    "show": true,
                                    "trigger": "item",
                                    "triggerOn": "mousemove|click",
                                    "axisPointer": {
                                        "type": "line"
                                    },
                                    "showContent": true,
                                    "alwaysShowContent": false,
                                    "showDelay": 0,
                                    "hideDelay": 100,
                                    "textStyle": {
                                        "fontSize": 14
                                    },
                                    "borderWidth": 0,
                                    "padding": 5
                                },
                                "xAxis": [
                                    {
                                        "show": true,
                                        "scale": false,
                                        "nameLocation": "end",
                                        "nameGap": 15,
                                        "gridIndex": 0,
                                        "inverse": false,
                                        "offset": 0,
                                        "splitNumber": 5,
                                        "minInterval": 0,
                                        "splitLine": {
                                            "show": false,
                                            "lineStyle": {
                                                "show": true,
                                                "width": 1,
                                                "opacity": 1,
                                                "curveness": 0,
                                                "type": "solid"
                                            }
                                        },
                                        "data": [
                                            "\u7f8e\u56fd",
                                            "\u5fb7\u56fd",
                                            "\u82f1\u56fd",
                                            "\u6cd5\u56fd",
                                            "\u610f\u5927\u5229",
                                            "\u65e5\u672c"
                                        ]
                                    }
                                ],
                                "yAxis": [
                                    {
                                        "show": true,
                                        "scale": false,
                                        "nameLocation": "end",
                                        "nameGap": 15,
                                        "gridIndex": 0,
                                        "inverse": false,
                                        "offset": 0,
                                        "splitNumber": 5,
                                        "minInterval": 0,
                                        "splitLine": {
                                            "show": false,
                                            "lineStyle": {
                                                "show": true,
                                                "width": 1,
                                                "opacity": 1,
                                                "curveness": 0,
                                                "type": "solid"
                                            }
                                        }
                                    }
                                ]
                            };
                                    chart_country_bar.setOption(option_country_bar);
                                </script>
                                </div>
                                <div class="show_part" id="year_show" style="display:none">
                                <div id="year_line" class="chart-container" style="width:800px; height:500px;"></div>
                                <script>
                                    var chart_year_line = echarts.init(
                                        document.getElementById('year_line'), 'white', {renderer: 'canvas'});
                                    var option_year_line = {
                                "animation": true,
                                "animationThreshold": 2000,
                                "animationDuration": 1000,
                                "animationEasing": "cubicOut",
                                "animationDelay": 0,
                                "animationDurationUpdate": 300,
                                "animationEasingUpdate": "cubicOut",
                                "animationDelayUpdate": 0,
                                "color": [
                                    "#c23531",
                                    "#2f4554",
                                    "#61a0a8",
                                    "#d48265",
                                    "#749f83",
                                    "#ca8622",
                                    "#bda29a",
                                    "#6e7074",
                                    "#546570",
                                ],
                                "series": [
                                    {
                                        "type": "line",
                                        "name": "\u5e74\u4efd",
                                        "connectNulls": false,
                                        "symbolSize": 4,
                                        "showSymbol": true,
                                        "smooth": false,
                                        "clip": true,
                                        "step": false,
                                        "data": [
                                            [
                                                "2010",
                                                153
                                            ],
                                            [
                                                "2011",
                                                246
                                            ],
                                            [
                                                "2012",
                                                216
                                            ],
                                            [
                                                "2013",
                                                457
                                            ],
                                            [
                                                "2014",
                                                537
                                            ],
                                            [
                                                "2015",
                                                510
                                            ],
                                            [
                                                "2016",
                                                647
                                            ],
                                            [
                                                "2017",
                                                725
                                            ],
                                            [
                                                "2018",
                                                547
                                            ],
                                            [
                                                "2019",
                                                835
                                            ],
                                            [
                                                "2020",
                                                950
                                            ]
                                        ],
                                        "hoverAnimation": true,
                                        "label": {
                                            "show": true,
                                            "position": "top",
                                            "margin": 8
                                        },
                                        "lineStyle": {
                                            "show": true,
                                            "width": 1,
                                            "opacity": 1,
                                            "curveness": 0,
                                            "type": "solid"
                                        },
                                        "areaStyle": {
                                            "opacity": 0
                                        },
                                        "zlevel": 0,
                                        "z": 0
                                    }
                                ],
                                "legend": [
                                    {
                                        "data": [
                                            "\u5e74\u4efd"
                                        ],
                                        "selected": {
                                            "\u5e74\u4efd": true
                                        }
                                    }
                                ],
                                "tooltip": {
                                    "show": true,
                                    "trigger": "item",
                                    "triggerOn": "mousemove|click",
                                    "axisPointer": {
                                        "type": "line"
                                    },
                                    "showContent": true,
                                    "alwaysShowContent": false,
                                    "showDelay": 0,
                                    "hideDelay": 100,
                                    "textStyle": {
                                        "fontSize": 14
                                    },
                                    "borderWidth": 0,
                                    "padding": 5
                                },
                                "xAxis": [
                                    {
                                        "show": true,
                                        "scale": false,
                                        "nameLocation": "end",
                                        "nameGap": 15,
                                        "gridIndex": 0,
                                        "inverse": false,
                                        "offset": 0,
                                        "splitNumber": 5,
                                        "minInterval": 0,
                                        "splitLine": {
                                            "show": false,
                                            "lineStyle": {
                                                "show": true,
                                                "width": 1,
                                                "opacity": 1,
                                                "curveness": 0,
                                                "type": "solid"
                                            }
                                        },
                                        "data": [
                                            "2010",
                                            "2011",
                                            "2012",
                                            "2013",
                                            "2014",
                                            "2015",
                                            "2016",
                                            "2017",
                                            "2018",
                                            "2019",
                                            "2020"
                                        ]
                                    }
                                ],
                                "yAxis": [
                                    {
                                        "show": true,
                                        "scale": false,
                                        "nameLocation": "end",
                                        "nameGap": 15,
                                        "gridIndex": 0,
                                        "inverse": false,
                                        "offset": 0,
                                        "splitNumber": 5,
                                        "minInterval": 0,
                                        "splitLine": {
                                            "show": false,
                                            "lineStyle": {
                                                "show": true,
                                                "width": 1,
                                                "opacity": 1,
                                                "curveness": 0,
                                                "type": "solid"
                                            }
                                        }
                                    }
                                ]
                            };
                                    chart_year_line.setOption(option_year_line);
                                </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="panel-footer" style="width: 100%; overflow: hidden;">
        <div class="container">
            <div class="row footer-top" style="text-align: center;">
            </div>
            <hr style="border: 1px  solid #000000;">
            <div class="row" style="text-align: center;">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <a href="#" style=" color: gray;">关于我们</a>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <a href="#" style=" color: gray;">联系方式</a></li>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <a href="#" style=" color: gray;">相关网站</a></li>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <a href="#" style=" color: gray;">特别致谢</a></li>
                </div>
            </div>
            <br>
        </div>
    </footer>
    <!-- Javascript files-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
    <!-- sidebar -->
    <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script type="text/javascript">
    </script>
    <script>
        function show_country(){
            document.getElementById("country_show").style.display = "block";
            document.getElementById("year_show").style.display = "none";
            document.getElementById("country-button").style.background = "#eeeeee";
            document.getElementById("year-button").style.background = "#ffffff";
        }

        function show_year(){
            document.getElementById("country_show").style.display = "none";
            document.getElementById("year_show").style.display = "block";
            document.getElementById("country-button").style.background = "#ffffff";
            document.getElementById("year-button").style.background = "#eeeeee";
        }
    </script>
</body>

</html>