<!-- 翻页 -->
{% macro pagination_widget(pagination, endpoint, filter={}) %}
  <ul class="pagination">
    <li {% if not pagination.has_prev %}class="disabled"{% endif %}>
      <a href="
              {% if pagination.has_prev %}{{ url_for(endpoint, page = pagination.page - 1, **filter) }}{% else %}#{% endif %}">
        &laquo; </a></li>
    {% for p in pagination.iter_pages() %}
      {% if p %}
        {% if p == pagination.page %}
          <li class="active"><a href="{{ url_for(endpoint, page = p, **filter) }}">{{ p }}</a></li>
        {% else %}
          <li><a href="{{ url_for(endpoint, page = p, **filter) }}">{{ p }}</a></li>
        {% endif %}
      {% else %}
        <li class="disabled"><a href="#">&hellip;</a></li>
      {% endif %}
    {% endfor %}
    <li {% if not pagination.has_next %}class="disabled"{% endif %}>
      <a href="
              {% if pagination.has_next %}{{ url_for(endpoint, page = pagination.page + 1, **filter) }}{% else %}#{% endif %}">&raquo;</a>
    </li>
  </ul>
{% endmacro %}


<!-- 页脚 -->
{% macro footer() %}
  <div class="footer panel-footer text-center">
    <p>Copyrights © All rights reserved by iSTIC</p>
  </div>
{% endmacro %}


<!-- 顶部导航栏 -->
{% macro header(url) %}
  <header>
    {% set linklist = [("./index.html","首页"),("./search.html","复杂检索"),("./news.html","新闻动态"),("./aip_monitor.html","AIP监测"),("./analysis.html","统计分析"),("./collect.html","内容管理")] %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                  aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">科技政策数据库展示系统</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            {% for link, caption in linklist %}
            <li {% if url in link %}class="active"{% endif %}><a href={{ link }}>{{ caption }}</a></li>
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search" action="search.html">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="搜索" name="query">
              </div>
              <button type="submit" class="btn btn-default hidden">Submit</button>
            </form>
            {% if current_user.is_authenticated %}
            <li><a>{{ current_user.username }}</a></li>
            <li><a href="auth/logout">退出登录</a></li>
            {% else %}
            <li><a href="auth/login.html">登录</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
{% endmacro %}