<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../static/css/responsive.css">
  <link rel="stylesheet" href="../static/css/main.css">
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/echarts.js"></script>
  <script src="../static/js/js2wordcloud.min.js"></script>
  <script src="../static/js/mycharts.js"></script>
    <script src="../static/js/echarts-wordcloud.js"></script>
  <link rel="icon"
        href="../static/images/istic.png" type="image/gif" />
  <title>科技政策数据库展示系统</title>
</head>
<body>
  <!--顶部导航栏-->
  <header>
    {% import "_macros.html" as macros with context%}
    {{ macros.header("analysis.html") }}
  </header>
  <!--页面主体部分-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
          <!-- 左侧目录 -->
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <ul class="nav nav-pills nav-stack">
                 <li class="active">
                <a id="chart-btn1" href="#chart1" data-toggle="pill" onclick="institutionNum()">涉华机构统计</a>
              </li>
              <li>
                <a id="chart-btn2" href="#chart2" data-toggle="pill" onclick="chinaField()">涉华政策领域的时间变化</a>
              </li>
              <li>
                <a id="chart-btn3" href="#chart3" data-toggle="pill" onclick="chinaNum()">涉华政策数量变化</a>
              </li>

              <li>
                <a id="chart-btn5" href="#chart5" data-toggle="pill" onclick="keywordCloud()">涉华关键词</a>
              </li>
                <li>
                <a id="chart-btn6" href="#chart6" data-toggle="pill" onclick="keywordsPie()">涉华关键词时间演变</a>
              </li>
                <li>
                <a id="chart-btn7" href="#chart7" data-toggle="pill" onclick="stateMessageTree()">国情咨文关键词演变</a>
              </li>
                <li>
                <a id="chart-btn8" href="#chart8" data-toggle="pill" onclick="customizedAna()">定制化分析</a>
              </li>
            </ul>
          </div>
          <!-- 右侧内容 -->
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 tab-content">
            <div class="tab-pane chart-part active" id="chart1">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>涉华机构</h4>
                </div>
                <div class="panel-body">
                  <div id="institution-num" class="chart-div">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane chart-part" id="chart2">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>涉华政策相关领域的时间演变</h4>
                </div>
                <div class="panel-body">
                  <div id="field-month" class="chart-div">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane chart-part" id="chart3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>涉华政策数量演变</h4>
                </div>
                <div class="panel-body">
                  <div id="china-num" class="chart-div">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane chart-part" id="chart5">
              <div class="panel panel-default" >
                <div class="panel-heading">
                  <h4>关键词词云图</h4>
                  显示词条数量：<input id="keyshownum" type="number" min="1" max="300" step="1" value="100">
                  <button><a style=" text-decoration: none; color: black;" onclick="keywordCloud()">刷新</a></button>
                  <span style="color:#a94442;font-size:small;">注：请输入1~200的整数</span>
                </div>
                <div class="panel-body">
                  <div id="key-word-cloud" class="chart-div" onclick="return searchKeywords()"></div>
                </div>
              </div>
            </div>
          <div class="tab-pane chart-part" id="chart6">
{#              <div class="panel-body">#}
{#                  <div id="china-cloud" class="chart-div"></div>#}
{#                </div>#}
            <div class="panel panel-default">
            <div class="panel-heading">
              <h4>涉华政策关键词演变</h4>
            </div>
            <div class="panel-body">
              <div id="keywords-tree" class="chart-div">
              </div>
            </div>
          </div>
          </div>
          <div class="tab-pane chart-part" id="chart7">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>国情咨文关键词演变</h4>
                </div>
                <div class="panel-body">
                  <div id="state-message" class="chart-div">
                  </div>
                </div>
              </div>
            </div>
          <div class="tab-pane chart-part" id="chart8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>定制化分析</h4>
                    <label for="c_domain" class="form-label">输入关键词：</label><input id="c_keyword" type="text" value="任意关键词">
                    <label for="c_domain" class="form-label">选择领域：</label>
                    <select id="c_domain">
                        <option value ="All">All</option>
                      <option value ="医药健康科技">医药健康科技</option>
                      <option value ="新材料科技">新材料科技</option>
                      <option value="能源环境科技">能源环境科技</option>
                      <option value="食品技术科技">食品技术科技</option>
                      <option value ="空天科技">空天科技</option>
                      <option value ="国防安全">国防安全</option>
                      <option value="智能制造">智能制造</option>
                      <option value="新代信息通信科技">新代信息通信科技</option>
                      <option value="大数据与人工智能">大数据与人工智能</option>
                      <option value="现代交通科技">现代交通科技</option>
                    </select>
                    <label for="c_chart" class="form-label">选择展示图表:</label>
                    <select id="c_chart">
                        <option value="number_change">数量变化</option>
                      <option value="number_institute">涉及机构</option>
                    </select>
                  <button><a style=" text-decoration: none; color: black;" onclick="customizedAna()">刷新</a></button>

                </div>
                <div class="panel-body">
                  <div id="customized" class="chart-div">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--页脚-->
  {% import "_macros.html" as macros %}
  {{ macros.footer() }}
</body>
</html>