<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <link rel="icon" href="{{ url_for('static', filename='images/istic.png') }}" type="image/gif"/>
  <title>科技政策数据库展示系统</title>
  <style>
      .metadata .col-sm-2,
      .metadata .col-sm-10,
      .metadata .col-sm-4 {
          padding-left: 0;
      }
  </style>
</head>
<body>
<!-- 顶部导航栏 -->
<header>
  {% import "_macros.html" as macros with context %}
  {{ macros.header("article.html") }}
</header>
<!-- 页面主体部分 -->
<div class="container">
  {#  <div class="row">#}
  {#    #}
  {#  </div>#}
  <div class="article-page row">
    <!-- 左侧原始内容 -->
    <div class="col-md-6">
      <div class="metadata panel panel-default">
        <div class="panel-heading">
          <h4>原始版本</h4>
        </div>
        <div class="panel-body">
          <ul>
            <li>标题：{{ policy_text.original_title }}</li>
            <li>发布机构：{{ policy_text.institution }}</li>
            <li>摘要：<p>{{ policy_text.abstract | safe }}</p></li>
            <li>关键词：{{ "无" if policy_text.keywords == None else policy_text.keywords }}</li>
            <li>领域：{{ policy_text.correct_field }}</li>
          </ul>
        </div>
      </div>


      <div class="download panel panel-default">
        <div class="panel-heading">
          <h4>文件管理</h4>
        </div>
        <div class="panel-body">
          <ul>
            <p><a href="api/download?file_name={{ original_file.savename }}">下载原版</a></p>
            <p><a href="{% if format_file is not none %}api/download?file_name={{ format_file.savename }}{% endif %}">下载格式化版</a>
            </p>
            {% if trans_file is not none %}
              <p><a href="api/download?file_name={{ trans_file.savename }}">下载翻译版</a></p>{% endif %}
            {% if checked_file is not none %}
              <p><a href="api/download?file_name={{ checked_file.savename }}">下载审校版</a></p>{% endif %}
            <br>
            <p>上传审校版文件</p>
            <form action="">
              <div style="width:60%;" title="请上传pdf或txt格式文件">
                <input type="file" class="form-control" id="file" name="file">
                <button type="button" style="margin-top: 10px;" class="btn btn-primary">确认上传</button>
              </div>
            </form>
          </ul>
        </div>
      </div>
    </div>
    <!-- 右侧翻译版本 -->
    <div class="col-md-6">
      <div class="metadata panel panel-default">
        <div class="panel-heading">
          <h4>翻译版本</h4>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" style="padding-right: 8px;">
            <div class="form-group">
              <label for="translated-title" class="col-sm-2 control-label">中文标题</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="translated-title"
                       value="{{ policy_text.translated_title }}">
              </div>
            </div>
            <div class="form-group">
              <label for="institution" class="col-sm-2 control-label">发布机构</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="institution"
                       value="{{ policy_text.translated_institution }}">
              </div>
            </div>
            <div class="form-group">
              <label for="abstract" class="col-sm-2 control-label">摘要</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="4" id="abstract">{{ policy_text.translated_abstract }}</textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="keywords" class="col-sm-2 control-label">关键词</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="2" id="keywords">{{ policy_text.translated_keywords }}</textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="doc_type" class="col-sm-2 control-label">政策类型</label>
              <div class="col-sm-4">
                <select class="form-control" id="doc_type">
                  {% set typelist = ["未选择","研究报告","战略规划","技术治理","计划项目"] %}
                  {% for type in typelist %}
                    <option value="{{ type }}"
                            {% if type == policy_text.doc_type %}selected="selected"{% endif %}>{{ type }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="field" class="col-sm-2 control-label">分类-机器</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" readonly
                       value="{{ policy_text.norm_field|join(', ') }}">
              </div>
            </div>
            <div class="form-group">
              <label for="field" class="col-sm-2 control-label">分类-审核</label>
              <div class="col-sm-10">
                <select class="form-control" id="field">
                  {% set fieldlist = ["无类别","综合","人工智能技术","新代信息通信技术","大数据技术",
                  "新材料技术","现代交通技术","空天技术","生物技术","海洋技术","智能制造","基因技术"] %}
                  {% for field in fieldlist %}
                    <option value="{{ field }}"
                            {% if field == policy_text.correct_field %}selected="selected"{% endif %}>{{ field }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="use" class="col-sm-2 control-label">是否展示</label>
              <div class="col-sm-5 container">
                <label class="radio-inline">
                  <input type="radio" name="use" value="1" {% if policy_text.use %}checked="checked"{% endif %}>是
                </label>
                <label class="radio-inline">
                  <input type="radio" name="use" value="0" {% if not policy_text.use %}checked="checked"{% endif %}>否
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="recommend" class="col-sm-2 control-label">是否精选</label>
              <div class="col-sm-5 container">
                <label class="radio-inline">
                  <input type="radio" name="recommend" value="1"
                         {% if policy_text.recommend %}checked="checked"{% endif %}>是
                </label>
                <label class="radio-inline">
                  <input type="radio" name="recommend" value="0"
                         {% if not policy_text.recommend %}checked="checked"{% endif %}>否
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" onclick="submitDetails()" class="btn btn-primary">确认修改</button>
              </div>
            </div>
          </form>
        </div>
      </div>

       <div class="metadata panel panel-default">
        <div class="panel-heading">
          <h4>审核信息</h4>
        </div>
        <div class="panel-body">
          {% if policy_text.modified_by == None %}
            尚未被人工修改
          {% else %}
            上次由 {{ policy_text.modified_by }} 修改于 {{ policy_text.update_time }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 页脚 -->
{% import "_macros.html" as macros %}
{{ macros.footer() }}
</body>
<script>
    function submitDetails() {
        var policy_id = {{ policy_text.id }};
        var title = $("#translated-title").val();
        var institution = $("#institution").val();
        var abstract = $("#abstract").val();
        var keywords = $("#keywords").val();
        var doc_type = $("#doc_type").val();
        var field = $("#field").val();
        var use = $("input[name='use']:checked").val();
        var recommend = $("input[name='recommend']:checked").val()
        $.ajax({
            url: "/submit_details",
            type: "POST",
            data: {
                "id": policy_id,
                "title": title,
                "institution": institution,
                "abstract": abstract,
                "keywords": keywords,
                "doc_type": doc_type,
                "field": field,
                "use": use,
                "recommend": recommend
            },
            success: function (data) {
                console.log(data)
                if (data === 'success') {
                    alert("修改成功");
                    window.location.href = "/edit-details.html?id=" + policy_id;
                } else if (data === 'fail') {
                    alert("修改失败，数据库错误，请联系管理员");
                    window.location.href = "/edit-details.html?id=" + policy_id;
                }
            },
            error: function (e) {
                alert("修改失败");
            }
        });
    }
</script>
</html>