<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <link rel="icon" href="{{ url_for('static', filename='images/istic.png') }}" type="image/gif"/>
  <title>科技政策数据库展示系统</title>
</head>
<body>
<!-- 顶部导航栏 -->
<header>
  {% import "_macros.html" as macros with context %}
  {{ macros.header("management.html") }}
</header>
<!-- 页面主体部分 -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="row">
        <!-- 左侧目录 -->
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <ul class="nav nav-pills nav-stack">
            <li>
              <a href="./collect.html">数据采集</a>
            </li>
            <li class="active">
              <a href="./proofread.html">内容审校</a>
            </li>
            <li>
              <a href="./users.html">用户管理</a>
            </li>
            <li>
              <a href="./add-policy.html">导入数据</a>
            </li>
          </ul>
        </div>
        <!-- 右侧内容 -->
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 tab-content">
          <!-- 内容审校 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>颠覆性技术政策列表</h4>
              <form class="form-inline">
                <div class="form-group">
                  <select name="query-type" class="form-control">
                    <option value="">标题</option>
                    <option value="">摘要</option>
                    <option value="">关键词</option>
                  </select>
                </div>
                <div class="form-group input-group col-lg-4">
                  <label class="sr-only" for="exampleInputEmail3">搜索</label>
                  <input type="email" class="form-control" id="exampleInputEmail3" placeholder="搜索">
                  <span class="input-group-btn">
                      <button class="btn btn-info btn-search" type="submit"
                              style="background-color: #f26522; border-color:#f26522 ">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                      </button>
                    </span>
                </div>
                <div class="form-group">
                  <select name="country" class="form-control">
                    <option value="">全部国家</option>
                    <option value="">中国</option>
                    <option value="">美国</option>
                    <option value="">英国</option>
                    <option value="">德国</option>
                    <option value="">意大利</option>
                  </select>
                </div>
                <div class="form-group">
                  <select name="field" class="form-control">
                    <option value="">全部领域</option>
                    <option value="">工业</option>
                    <option value="">农业</option>
                    <option value="">经济</option>
                    <option value="">健康</option>
                  </select>
                </div>
                <div class="form-group">
                  <select name="display" class="form-control">
                    <option value="">全部显示</option>
                    <option value="">仅已审校</option>
                    <option value="">仅未审校</option>
                    <option value="">仅展示</option>
                    <option value="">仅未展示</option>
                    <option value="">仅精选</option>
                    <option value="">仅未精选</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary pull-right">筛选</button>
              </form>
              <div class="btns">
                <div class="btn-group">
                  <button class="btn btn-primary">前台展示</button>
                  <button class="btn btn-danger">取消展示</button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-success">标为精选</button>
                  <button class="btn btn-danger">取消精选</button>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <table class="table table-hover">
                <tr>
                  <th width="5%"><input type="checkbox" id="policy_all_check"/></th>
                  <th width="7%">编号</th>
                  <th width="55%">标题</th>
                  <th width="13%">文档类型</th>
                  <th width="10%">状态</th>
                  <th width="10%">操作</th>
                </tr>
                {% for policy_text in policy_text_list %}
                  <tr {% if not policy_text.checked_file %}class="warning"{% endif %}>
                    <td><input type="checkbox" name="policy"/></td>
                    <td>{{ policy_text.id }}</td>
                    <td>{{ policy_text.original_title }}</td>
                    <td>
                      {% if not policy_text.doc_type %}
                        未分类
                      {% else %}
                        {{ policy_text.doc_type }}
                      {% endif %}
                    </td>
                    <td>
                      {% if not policy_text.checked_file %}
                        未审校
                      {% else %}
                        展示
                      {% endif %}
                    </td>
                    <td>
                      <a href="edit-details.html?id={{ policy_text.id }}" target="_blank">编辑</a>
                    </td>
                  </tr>
                {% endfor %}
              </table>
              {% import "_macros.html" as macros %}
              <div class="pagination">
                {{ macros.pagination_widget(pagination, '.proofread', {}) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 页脚 -->
{% import "_macros.html" as macros %}
{{ macros.footer() }}
</body>
</html>