<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <link rel="icon" href="{{ url_for('static', filename='images/istic.png') }}" type="image/gif" />
  <title>科技政策数据库展示系统</title>
</head>
<body>
  <!--页面主体部分-->
  <div class="container">
    <div class="main-content">
      <div class="form-div">
        <h2 class="text-center">新用户注册</h2>
        <form action="" method="post" class="form-horizontal">
          <div class="data-form">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </span>
                <input type="text" id="username" class="form-control" placeholder="手机号码或邮箱">
              </div>
              <div class="error-content">
                <span id="usernameErr" class="errMsg"></span>
              </div>
            </div>
            <div class="form-group">
              <div class="verify col-xs-8">
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                  </span>
                  <input type="text" id="verification" class="form-control" placeholder="输入验证码">
                </div>
              </div>
              <div class="get-verification col-xs-4">
                <button class="btn form-control btn-primary" type="submit">获取验证码</button>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input type="text" id="password" class="form-control" placeholder="输入密码">
              </div>
              <div class="error-content"><span id="passwordErr" class="errMsg"></span></div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input type="text" id="repassword" class="form-control" placeholder="再次输入密码">
              </div>
              <div class="error-content"><span id="repasswordErr" class="errMsg"></span></div>
            </div>
            <div class="form-group">
              <div class="btn-div text-center">
                <input type="hidden" name="">
                <button class="btn form-control btn-primary" type="submit">注册</button>
              </div>
            </div>
            <div class="form-group">
              <div class="pull-left links">
                <p>已有账号，<a href="login.html">登录</a></p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--页脚-->
  {% import "_macros.html" as macros %}
  {{ macros.footer() }}
</body>
</html>