<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/LANG.js') }}"></script>
    <script src="{{ url_for('static', filename='js/advanced_search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/star-rating.min.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.js"></script>
  <link rel="icon" href="{{ url_for('static', filename='images/istic.png') }}" type="image/gif"/>
  <title>科技政策数据库展示系统</title>
</head>
<body>
<!--顶部导航栏-->
<header>
  {% import "_macros.html" as macros with context %}
  {{ macros.header("search.html") }}
</header>
<!--页面主体部分-->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <form class="form" role="form" id="search-form">
        <!-- 检索条件 -->
        <div class="search-div">
          <div class="row">
            <div class="form-group col-md-3">
              <select name="query-type" class="selectpicker" id="query-type">
                {% set typelist = ["标题","摘要","关键词"] %}
                {% for type in typelist %}
                  <option value="{{ type }}" {% if type == query_type[0] %}selected="selected"{% endif %}>{{ type }}</option>
                {% endfor %}
              </select>
            </div>
{#            <div class="form-group col-md-3">#}
{#              <select name="query-type" class="selectpicker" id="query-type2">#}
{#                {% set typelist = ["标题","摘要","关键词"] %}#}
{#                {% for type in typelist %}#}
{#                  <option value="{{ type }}" {% if type == query_type %}selected="selected"{% endif %}>{{ type }}</option>#}
{#                {% endfor %}#}
{#              </select>#}
{#            </div>#}
            <div class="form-group input-group col-md-4" style="padding-left: 15px;">
              <input type="text" class="form-control" id="query"
                     {% if query_word %}value="{{ query_word }}"{% endif %} name="query"
                     placeholder="搜索">

            </div>
          </div>
            {% for i in query_length %}
                <div class="row" id="row-{{ i }}">
                    <div class="form-group col-md-3">
                      <select name="query-bool-{{ i }}" class="selectpicker" id="query-bool-{{ i }}">
                        {% set boollist = ["AND","OR","NOT"] %}
                        {% for bool in boollist %}
                          <option value="{{ bool }}" {% if bool == query_boolean[i-1] %}selected="selected"{% endif %}>{{ bool }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <select name="query-type-{{ i }}" class="selectpicker" id="query-type-{{ i }}">
                        {% set typelist = ["标题","摘要","关键词"] %}
                        {% for type in typelist %}
                          <option value="{{ type }}" {% if type == query_types[i] %}selected="selected"{% endif %}>{{ type }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group input-group col-md-4" style="padding-left: 15px;">
                      <input type="text" class="form-control" id="query-{{ i }}"
                             {% if query_list %}value="{{ query_list[i] }}"{% endif %} name="query-{{ i }}"
                             placeholder="搜索">
                        <span class="input-group-btn">
                          <button class="btn" id="del-button-{{ i }}" type="button"
                                  style="background-color: #5bc0de;color: #ffffff " onclick="delBtn({{ i }})">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                          </button>
                        </span>
                    </div>
                </div>
            {% endfor %}
        <button class="btn btn-info" type="button" data-toggle="tooltip" title="新增" id="addBoxBtn"
                onclick="addBox(this)"><span class="glyphicon glyphicon-plus"></span></button>
        <button class="btn btn-info btn-search"
                          style="background-color: #f26522; border-color:#f26522;display: inline-block;float: right;margin-right: 10%">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  </button>

        </div>
{#      <div class="input-group" id="saltIpGroup">#}
{#	    <label class="input-group-addon">salt配置:</label>#}
{#	    <button class="btn btn-info" type="button" data-toggle="tooltip" title="新增" id="addSaltIpGrpBtn"#}
{#                onclick="addBox(this)"><span class="glyphicon glyphicon-plus"></span></button>#}
{##}
{#        </div>#}
        <!-- 筛选和排序 -->
        <div class="filter" id="filter" style="display: inline-flex; flex-direction: row; align-items: flex-end; width: 101%;">
{#          <div class="form-group col-lg-1 col-md-2 col-sm-2" style="margin-bottom: 21px; padding: 0;"><span>筛选：</span></div>#}
{#          <div class="form-group col-lg-2 col-md-3" style="padding: 0;">#}
{#            <select name="country" class="form-control" id="country" onchange="search()">#}
{#                {% for country in country_list %}#}
{#                  <option value="{{ country }}" {% if country == query_country %}selected="selected"{% endif %}>{{ country }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#          </div>#}
          <div class="form-group col-lg-3 col-md-3" style="padding: 0;">
            <select name="field" class="form-control" id="field" onchange="search()">
              {% set fieldlist = ["全部分类","医药健康科技","新材料科技","能源环境科技",
        "食品农业科技","空天科技","国防安全","智能制造","新代信息通信科技","大数据与人工智能",
        "现代交通科技"] %}
                {% for field in fieldlist %}
                  <option value="{{ field }}" {% if field == query_field %}selected="selected"{% endif %}>{{ field }}</option>
                {% endfor %}
            </select>
          </div>
{#        <div class="form-group col-lg-3 col-md-3" style="padding: 0;">#}
{#            <select name="source" class="form-control" id="source" onchange="search()">#}
{#              {% set sourcelist = ["All","重要人物讲话","白宫","国会","政府部门",#}
{#        "智库","期刊杂志学会"] %}#}
{#                {% for field in sourcelist %}#}
{#                  <option value="{{ field }}" {% if field == query_field %}selected="selected"{% endif %}>{{ field }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#          </div>#}
          <div class="form-group col-lg-3 col-md-4 pull-right" style="margin-left: 520px; padding: 0;">
            <select name="order" class="form-control">
              <option value="time" {% if order == 'time' %}selected="selected"{% endif %}>按时间排序</option>
              <option value="rank" {% if order == 'rank' %}selected="selected"{% endif %}>按重要性排序</option>
            <option value="star" {% if order == 'star' %}selected="selected"{% endif %}>按人工评分排序</option>
            </select>
          </div>
        </div>
      </form>
      <!-- 检索结果 -->
      <div style="border-bottom: 1px solid #dddddd; padding-bottom: 10px;">检索结果总数量：{{ pagination.total }} 条</div>
      <div class="result-list">
        {% for policy_text in policy_text_list %}
          <div class="search-result">
{#          <div class="search-result {% if policy_text.recommend %}recommend{% endif %}">#}
            <div style="height: 20px">
                <p class="title">
                    <div style="float: left">
                    <a href="article.html?id={{ policy_text.id }}" class="h4">
                        {{ policy_text.id2 }}.{{ policy_text.translated_title }}
                    </a>
                </div>
                <div style="float:right"><span> <input id="rating-{{ policy_text.id }}" value="{{ policy_text.recommend }}" class="rating" data-size="sm"></span></div>
                </p>
            </div>
              <div style="height: 20px;width:100%;"></div>
            <div style="height: 100px">
                <p>{% if policy_text.time %}<span style="color:#59a869">时间：</span>{{ policy_text.time  }}{% endif %}{% if policy_text.translated_institution %}<span style="color:#59a869">机构：</span>{{ policy_text.translated_institution  }}{% endif %}</p>
                 <p class="collapse-description">{{ policy_text.translated_abstract }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- 翻页 -->
      <div class="pagination">
        {{ macros.pagination_widget(pagination, '.search', filter) }}
      </div>
    </div>
  </div>
</div>
<!--页脚-->
{% import "_macros.html" as macros %}
{{ macros.footer() }}

<script>
    window.box_num = {{box_num}};
    var query_list = [];
    var query_bool = []
    var query_type = []

    $(".rating").rating(
        {step:1,
            starCaptions: {
            0.5: '0.5',
            1: '1',
            1.5: '1.5',
            2: '2',
            2.5: '2.5',
            3: '3',
            3.5: '3.5',
            4: '4',
            4.5: '4.5',
            5: '5'
        },
        clearButtonTitle: '清空',
        clearCaption: '0'
        }
    );
    $(".rating").on("rating:change", function(event, value, caption) {
        let rating_id = $(this).attr("id");
        {#console.log(rating_id,value)#}
        $.ajax({
            url: "/rate_star",
            type: "POST",
            data: {"star": value, 'id': rating_id},
            success: function (data) {
                {#console.log(site_name);#}
                {#alert(data);#}
            },
            error: function (e) {
                alert("error");
            }
        });
    });
    function addBox(obj){
        {#var i = box_num;#}
        window.box_num = window.box_num+1;
        let i = window.box_num;
        console.log(i)
	   html = '<div class="row" id="row-'+i+'">'+
                    '<div class="form-group col-md-3">'+
                      '<select name="query-bool-'+i+'" style="display: inline-block;height: 34px;width: 220px;" class="form-select" id="query-bool-'+i+'">\
                          <option value="AND" selected>AND</option>\
                          <option value="OR">OR</option>\
                          <option value="NOT">NOT</option>\
                      </select>\
                    </div>\
                    <div class="form-group col-md-3">'+
                      '<select name="query-type-'+i+'" class="form-select" style="display: inline-block;height: 34px;width: 220px;" id="query-type-'+i+'">\
                          <option value="标题" selected>标题</option>\
                          <option value="摘要" >摘要</option>\
                          <option value="关键词" >关键词</option>\
                      </select>\
                    </div>\
                    <div class="form-group input-group col-md-4" style="padding-left: 15px;">\
                      <input type="text" class="form-control" id="query-'+i+'"\
                             value="" name="query-'+i+'"\
                             placeholder="搜索">\
                       <span class="input-group-btn">\
                          <button class="btn" id="del-button-'+i+'" type="button"\
                                  style="background-color: #5bc0de;color: #ffffff " onclick="delBtn('+i+')">\
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>\
                          </button>\
                        </span>\
                    </div>\
                </div>'
	obj.insertAdjacentHTML('beforebegin',html)
}
    var query_words = ["test"]
    function submitQuery(){
        var query_words = ["test"]
        var bools = []
        var types = []
        var num = window.box_num;
       for(let i=1;i<=num;i++) {
           var query = $("#query-" + i).val().replace(/\s+/i, " ");
           query_words.push(query);
           var bool = $("#query-bool-" + i).val()
           bools.push(bool)
           var type = $("#query-type-" + i).val()
           types.push(type)
       }
        window.location.href = 'search.html?query=' + query_words + "&bools=" + file_type + "&country=" + country + "&order=" + order;
       console.log(query_words);
       console.log(bools)
        console.log(types)
    };
    function delBtn(i){
        {#let btn_id = e.target.id#}
        console.log("#row"+i);
        $("#row-"+i).addClass("hidden");
        $("#query-bool-"+i).attr("disabled","disabled");
        $("#query-type-"+i).attr("disabled","disabled");
        $("#query-"+i).attr("disabled","disabled");
        window.box_num = window.box_num-1
        return false
    }

  $("#filter .form-control").change(function (){
    $("#search-form").submit();
  });

</script>
</body>
</html>